:root {
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlue: hsl(207, 26%, 17%);
  --veryDarkBlue: hsl(200, 15%, 8%);
  --DarkGray: hsl(0, 0%, 52%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  
  --FW-light: 300;
  --FW-regular: 600;
  --FW-bold: 800;
  
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  }

body {
color: var(--veryDarkBlue);
background-color: var(--veryLightGray);
transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.header {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.countryCard {
  background-color: var(--white);
}

.searchInput input,
.button,
.searchResults,
#continent {
  background-color: var(--white);
}

.button {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 7px;
}

.resultsList:hover {
  background-color: var(--veryLightGray)
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
}